@import '../../styles/_variables';
@import '../../styles/_functions';
@import '../../styles/_mixins';

.app-header-skeleton {
    @include extend(-layout-header) {
        background: color(white);
        padding: 0;
    }

    display: flex;
    box-shadow: 0 2px 8px color(gray, light);

    &__logo {
        display: inline-block;
        padding: 0 20px;

        &-search-section {
            display: flex;
            align-items: center;
            flex-grow: 1;
        }

        img {
            width: 36px;
        }
    }
}
