@import './styles/_variables';
@import './styles/_functions';

.app {
    position: relative;

    &.#{$prefix}-layout {
        background: color(white);
        min-height: 100vh;
    }

    &-skeleton {
        height: 100%;
        background: color(white);
        display: flex;

        &__spin-section {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__affix-header {
        z-index: 99;
    }
}
