@import '../../../../styles/_variables';
@import '../../../../styles/_functions';
@import '../../../../styles/_mixins';

.listing-create-booking-modal {
    text-align: center;
    padding-top: 10px;

    &__intro-title {
        @include withTypo {
            margin-top: 5px;

            + h3 {
                @include withTypo {
                    margin-top: 5px;
                }
            }
        }
    }

    &__charge-summary-total {
        font-weight: $font-weight-bold;
        font-size: $font-size-small;
    }

    &__stripe-card {
        padding: 10px;
        margin: 40px 0;
        border: 1px solid color(gray, light);
        box-shadow: 0 2px 4px rgba(29, 34, 108, 0.1);

        &-section {
            padding-bottom: 10px;
        }
    }

    &__cta {
        width: 100px;
    }
}
