@import '../../styles/_variables';
@import '../../styles/_functions';
@import '../../styles/_mixins';

.log-in {
    display: flex;
    align-items: center;
    justify-content: center;

    &-card {
        width: 450px;
        text-align: center;
        padding: 10px 0 20px;

        &__intro-title {
            @include withTypo {
                margin-top: 5px;

                + h3 {
                    @include withTypo {
                        margin-top: 5px;
                    }
                }
            }
        }

        &__google-button {
            margin: 40px auto;
            border-radius: 2px;
            background-color: color(blue);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
            border: none;
            display: flex;
            align-items: center;
            padding: 1px;
            color: color(white);
            cursor: pointer;

            &:hover {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
            }

            &:active {
                background: color(blue, dark);
            }

            &-logo {
                height: 43px;
            }

            &-text {
                text-align: left;
                white-space: nowrap;
                padding: 10px;
            }
        }
    }
}
