@import '../../styles/_variables';
@import '../../styles/_functions';
@import '../../styles/_mixins';

:export {
    iconColor: color(blue, light);
}

.host {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 100px;
    max-width: 900px;
    margin: 0 auto;

    @media (max-width: 62em) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .#{$prefix}radio-button-wrapper {
        .anticon {
            margin-right: 5px;
        }
    }

    &__form {
        &-header {
            padding-bottom: 20px;
        }

        &-title {
            @include withTypo {
                color: color(purple);
                margin-bottom: 5px;
            }
        }

        &-image-upload img {
            width: 125px;
        }
    }
}
