@import '../../../../styles/_variables';
@import '../../../../styles/_functions';

.listings-filters {
    padding: 10px 0;
    background: color(white);

    .#{$prefix}-select-selection--single {
        .#{$prefix}-select-selection__rendered {
            margin-right: 30px;
        }
    }

    span {
        padding-right: 5px;
    }
}
