@import '../../../../styles/_variables';
@import '../../../../styles/_functions';
@import '../../../../styles/_mixins';

.listing-bookings {
    h3,
    h4 {
        @include withTypo {
            color: color(purple);
        }
    }

    &__section {
        font-size: $font-size-small;
        padding: 5px 0;
    }

    &__item {
        margin: 20px 0;
    }

    &__history {
        margin-bottom: 20px;

        > div {
            font-size: $font-size-xsmall;
            margin-bottom: 5px;
        }
    }

    // TODO: Implement feature
    // &__stars {
    //     font-size: $font-size-xsmall;
    // }
}
