.listings {
    &__item-content {
        display: flex;
        margin-right: 1rem;

        > :not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    .ant-list-item-action {
        min-width: 270px;
        margin-left: 0;
        display: flex;
        justify-content: flex-end;
    }
}
