@import '~antd/dist/antd.css';

@import './variables';
@import './typography';
@import './functions';
@import './mixins';
@import './overrides';
@import './common';

html {
    overflow: auto;
}

#root,
body,
html {
    height: 100%;
    width: 100%;
}
